<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/najus">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-stack-overflow fa-lg main-list-item-icon"></span>
    <a href="http://stackoverflow.com/users/story/819014">Programming</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-camera fa-md main-list-item-icon"></span>
    <a href="http://photos.thapasujan.com/">Photos</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://www.instagram.com/najusujan/">More Photos</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/thapasujan">Resume</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:najussujan@gmail.com" target="_top">Contact</a>
  </li>
</ul>
