<div class="links-container">
  <a class="link-item" href="https://github.com/najus" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github link-icon"></i>
    <span class="link-text">Code</span>
  </a>
  <a class="link-item" href="http://stackoverflow.com/users/story/819014" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-stack-overflow link-icon"></i>
    <span class="link-text">Programming</span>
  </a>
  <a class="link-item" href="http://photos.sujanthapa.com/" target="_blank" rel="noopener noreferrer">
    <i class="fas fa-camera link-icon"></i>
    <span class="link-text">Photo Blog</span>
  </a>
  <a class="link-item" href="https://www.instagram.com/najusphoto/" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-instagram link-icon"></i>
    <span class="link-text">More Photos</span>
  </a>
  <a class="link-item" href="https://www.linkedin.com/in/thapasujan" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-linkedin link-icon"></i>
    <span class="link-text">Resume</span>
  </a>
  <a class="link-item" href="mailto:najussujan@gmail.com">
    <i class="fas fa-envelope link-icon"></i>
    <span class="link-text">Contact</span>
  </a>
</div>
